In [37]:
import pandas as pd

In [38]:
dataframe = pd.read_csv("HistoricalQuotes.csv")

In [39]:
dataframe.head()

         Date  Close/Last   Volume       Open         High         Low
0  05/12/2020    $1375.74  1390600   $1407.12        $1415    $1374.77
1  05/11/2020    $1403.26  1412116   $1378.28     $1416.53   $1377.152
2  05/08/2020    $1388.37  1388068   $1383.13     $1398.76    $1375.48
3  05/07/2020    $1372.56  1399759   $1365.94      $1377.6    $1355.27
4  05/06/2020     $1347.3  1215423   $1361.69   $1371.1199    $1347.29

In [40]:
dataframe.rename(columns={c: c.strip() for c in dataframe.columns.values.tolist()}, inplace=True)

In [44]:
dataframe.columns

Index(['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low'], dtype='object')

In [45]:
dataframe.rename(columns={"Close/Last" : "Close"},inplace = True)
dataframe.columns

Index(['Date', 'Close', 'Volume', 'Open', 'High', 'Low'], dtype='object')

In [46]:
dataframe['Close'] = dataframe['Close'].str.replace('$', '').astype(float)
dataframe['Open'] = dataframe['Open'].str.replace('$', '').astype(float)
dataframe['High'] = dataframe['High'].str.replace('$', '').astype(float)
dataframe['Low'] = dataframe['Low'].str.replace('$', '').astype(float)

In [47]:
dataframe.head()

         Date    Close   Volume     Open       High       Low
0  05/12/2020  1375.74  1390600  1407.12  1415.0000  1374.770
1  05/11/2020  1403.26  1412116  1378.28  1416.5300  1377.152
2  05/08/2020  1388.37  1388068  1383.13  1398.7600  1375.480
3  05/07/2020  1372.56  1399759  1365.94  1377.6000  1355.270
4  05/06/2020  1347.30  1215423  1361.69  1371.1199  1347.290

In [48]:
dataframe.to_csv("NewHistoricalQuotes.csv", index=False)